**<font size=6>缺失值处理</font>**

生成数据

In [1]:
import pandas as pd
import numpy as np

In [5]:
data = np.array([[1, 2, 3, 4], [5, 6, np.nan, 8], [0, 11, 12, np.nan]])

In [6]:
data

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6., nan,  8.],
       [ 0., 11., 12., nan]])

In [7]:
dataDF = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])

In [8]:
dataDF

     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  0.0  11.0  12.0  NaN

查看数据的相关数据

In [25]:
dataDF.count()

A    3
B    3
C    2
D    2
dtype: int64

In [26]:
dataDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
A    3 non-null float64
B    3 non-null float64
C    2 non-null float64
D    2 non-null float64
dtypes: float64(4)
memory usage: 176.0 bytes

In [27]:
dataDF.describe()

              A          B          C         D
count  3.000000   3.000000   2.000000  2.000000
mean   2.000000   6.333333   7.500000  6.000000
std    2.645751   4.509250   6.363961  2.828427
min    0.000000   2.000000   3.000000  4.000000
25%    0.500000   4.000000   5.250000  5.000000
50%    1.000000   6.000000   7.500000  6.000000
75%    3.000000   8.500000   9.750000  7.000000
max    5.000000  11.000000  12.000000  8.000000

**<font size=5>一、查找缺失值</font>**

可以通过isnull()这种方法查看哪些元素含有nan值

In [10]:
dataDF.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True

可以通过notnull()这种方法查看哪些元素不含有nan值

In [13]:
dataDF.notnull()

      A     B      C      D
0  True  True   True   True
1  True  True  False   True
2  True  True   True  False

1. 通过sum()方法查找缺失值

In [9]:
dataDF.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

**<font size=5>二、插值填充</font>**

In [21]:
from sklearn.impute import SimpleImputer

1. 均值填充

In [17]:
dataDF2 = dataDF.copy()

<font color='red'>可以将strategy策略换成“median”利用中位数进行填充，&nbsp;“most_frequent”利用众数进行填充</font>

In [22]:
meanImputer = Imputer(missing_values='NaN', strategy='mean', axis=0)
meanImputer.fit(dataDF2)
data2 = meanImputer.transform(dataDF2.values)
print(data2)

[[ 1.   2.   3.   4. ]
 [ 5.   6.   7.5  8. ]
 [ 0.  11.  12.   6. ]]

//anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

查看各个字段的均值

In [23]:
meanImputer.statistics_

array([2.        , 6.33333333, 7.5       , 6.        ])